body {
  background-color: white;
  max-width: 100vw;
}

h2 {
  font-size: 35px;
}

header .navbar {
  width: 100% !important;
  height: 40px !important;
  margin-top: 1.5em !important;
}
header .navbar a {
  color: black !important;
  font-size: 20px !important;
  font-weight: 600 !important;
}
header .navbar .navbar-collapse {
  justify-content: flex-end !important;
  z-index: 1;
}
header .navbar .navbar-toggler {
  background-color: #fbfbfb;
  position: absolute;
  top: 0px;
}
header .container-fluid {
  height: 156px;
}
header p {
  color: #3B89B2;
}

footer .footerlogo {
  padding-bottom: 3em;
}
footer .footerlogo svg {
  width: 100%;
}
footer .footeritems {
  padding-bottom: 3em;
  display: flex;
  flex-direction: column;
}
footer .footeritems a {
  color: #544490;
  text-decoration: none;
  font-size: 17px;
}
footer .footeritems h5 {
  color: #544490;
  font-size: 17px;
  font-weight: bold;
}
footer .icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: baseline;
  width: 3em;
  margin-top: 0.5em;
}
footer .icons svg {
  margin-right: 1em;
}
footer .iconcontainer {
  display: flex;
  flex-wrap: nowrap;
  max-width: fit-content;
}

.logo {
  padding-top: 36px;
  padding-left: 96px;
}
.logo svg {
  width: 200px;
}

.topmenu {
  display: flex;
  flex-direction: row;
  height: 40px;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
}

.search {
  display: flex;
}
.search form {
  height: 40px;
  margin-top: 1em;
}
.search button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  padding: 0%;
  position: relative;
  left: -40px;
  top: -3px;
}
.search input {
  border: #5FD2E6 solid 1px;
  border-radius: 15px;
  padding: 5px 15px 5px 15px;
  height: 40px;
  width: 20vw;
}
.search input::placeholder {
  color: #3B89B2;
}

.contact {
  display: flex;
  margin-top: 1em;
  margin-right: 2em;
  height: auto;
  align-items: center;
  justify-content: center;
}
.contact p {
  margin: 0px;
  padding-right: 10px;
}
.shoppingcart {
  display: flex;
  background-color: #3B89B2;
  height: 60px;
  width: 164px;
  border-bottom-left-radius: 30px;
}
.shoppingcart svg {
  margin-left: 2em;
  margin-top: 10px;
}

.menu {
  display: flex;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 1.5em;
  width: 100%;
}
.menu ul li {
  padding-left: 1rem;
  padding-right: 2rem;
  list-style-type: none;
  font-size: 20px;
}
.menu ul li a {
  color: black;
  text-decoration: none;
}

.overlaytext {
  padding-top: 8rem;
  text-align: left;
  color: white;
}
.overlaytext h1 {
  font-size: 75px !important;
}
.overlaytext h2 {
  font-size: 35px !important;
  font-style: italic !important;
  font-weight: 300 !important;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin-bottom: 1rem;
  margin-left: 0;
  list-style: none;
  flex-wrap: wrap;
}

.hero {
  height: 65vh;
}
.hero img {
  width: 100%;
  height: auto;
}
.hero #opacitysvg {
  opacity: 0.9;
}
.hero svg {
  position: relative;
  top: -80px;
}
.hero .overlay {
  position: absolute;
  height: fit-content;
  width: 100%;
  height: fit-content;
}
.hero .imagecontainer {
  width: 100%;
  object-fit: cover;
  position: absolute;
  height: inherit;
}

.introtext h2 {
  color: black;
}
.introtext p {
  color: black;
}

.itemcard {
  border-radius: 0 0 30px 0;
  margin-top: 2em;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1647058824);
  margin-bottom: 2em;
  transition: background-color 0.3s ease;
}
.itemcard .priceoverlay {
  background: rgb(131, 58, 180);
  background: linear-gradient(180deg, rgba(131, 58, 180, 0) 0%, rgb(28, 12, 76) 100%);
  position: relative;
  top: -50px;
  z-index: 1;
  height: 50px;
}
.itemcard .priceoverlay svg {
  position: absolute;
  top: -200px;
  left: 180px;
}
.itemcard .productdesc {
  padding: 0em 2em 0em 2em;
}
.itemcard .productdesc h4 {
  font-size: 19px;
  font-weight: lighter;
  color: #1D0D4C;
}
.itemcard .productdesc p {
  font-size: 15px;
}
.itemcard .item {
  width: auto;
  position: relative;
}
.itemcard img {
  height: 235px;
  width: 100%;
  display: block;
}
.itemcard .price {
  top: 0px;
  color: white;
  padding-left: 1em;
}
.itemcard .price #pricesvg {
  opacity: 0.2;
}
.itemcard .itembutton {
  display: flex;
  justify-content: flex-end;
}
.itemcard .itembutton button {
  border: none;
  background-color: #1C0C4C;
  padding: 0.65em 1em;
  border-radius: 30px 0px;
  color: white;
  margin-left: auto;
}

.itemcard:hover {
  background-color: #1C0C4C;
  color: white;
}
.itemcard:hover button {
  background-color: #D4C500;
}
.itemcard:hover h4 {
  color: white;
}

.bannerimg {
  margin-top: 5em;
  margin-bottom: 5em;
}
.bannerimg img {
  width: 100%;
  object-fit: cover;
  height: 421px;
  border-radius: 0 0 30px 0;
}

.banneruitgelicht {
  width: 750px;
  height: 277px;
  background-color: rgba(180, 244, 248, 0.9176470588);
  border-radius: 30px 0px;
  position: relative;
  left: -200px;
  top: 150px;
}
.banneruitgelicht .bannertext {
  padding: 3em;
}
.banneruitgelicht .bannertext h2 {
  font-weight: bold;
}
.banneruitgelicht .bannertext p {
  font-weight: lighter;
  font-size: 19px;
}
.banneruitgelicht .bannertext button {
  background: none;
  border: none;
}

@media screen and (max-width: 1500px) {
  .hero {
    height: 60vh;
  }
  .hero img {
    width: 100%;
    height: 50vh;
  }
}
@media screen and (max-width: 1400px) {
  .priceoverlay {
    background: rgb(131, 58, 180);
    background: linear-gradient(180deg, rgba(131, 58, 180, 0) 0%, rgb(28, 12, 76) 100%);
    position: relative;
    top: -50px;
    z-index: 1;
    height: 50px;
  }
  .priceoverlay svg {
    position: absolute;
    top: -200px;
    left: 135px !important;
  }
}
@media screen and (max-width: 1200px) {
  .banneruitgelicht {
    width: 100%;
    height: 100%;
    background-color: rgba(180, 244, 248, 0.9176470588);
    border-radius: 30px 0px;
    position: static;
  }
  .banneruitgelicht button {
    max-width: max-content;
  }
  .hero {
    height: 60vh;
  }
  .hero img {
    width: 100%;
    object-fit: cover;
  }
  .priceoverlay {
    background: rgb(131, 58, 180);
    background: linear-gradient(180deg, rgba(131, 58, 180, 0) 0%, rgb(28, 12, 76) 100%);
    position: relative;
    top: -50px;
    z-index: 1;
    height: 50px;
  }
  .priceoverlay svg {
    position: absolute;
    top: -200px;
    left: 100px !important;
  }
}
@media screen and (max-width: 994px) {
  .priceoverlay {
    background: rgb(131, 58, 180);
    background: linear-gradient(180deg, rgba(131, 58, 180, 0) 0%, rgb(28, 12, 76) 100%);
    position: relative;
    top: -50px;
    z-index: 1;
    height: 50px;
  }
  .priceoverlay svg {
    position: absolute;
    top: -200px;
    left: 180px !important;
  }
  .navbar-collapse {
    justify-content: flex-end !important;
    background-color: white !important;
    z-index: 1;
    margin-top: 3em;
  }
  .search {
    display: flex;
  }
  .search form {
    height: 40px;
    margin-top: 1em;
  }
  .search button {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    padding: 0%;
    position: relative;
    left: -40px;
    top: -3px;
  }
  .search input {
    border: #5FD2E6 solid 1px;
    border-radius: 15px;
    padding: 5px 15px 5px 15px;
    height: 40px;
    min-width: 12rem;
  }
  .search input::placeholder {
    color: #3B89B2;
  }
  footer .footerlogo {
    padding-bottom: 3em;
  }
  footer .footerlogo svg {
    width: 100%;
  }
  footer .footeritems {
    padding-bottom: 3em;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  footer .footeritems a {
    color: #544490;
    text-decoration: none;
    font-size: 17px;
  }
  footer .footeritems h5 {
    color: #544490;
    font-size: 17px;
    font-weight: bold;
  }
  footer .icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: baseline;
    width: 3em;
    margin-top: 0.5em;
  }
  footer .icons svg {
    margin-right: 1em;
  }
  footer .iconcontainer {
    display: flex;
    flex-wrap: nowrap;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  .overlay {
    position: absolute;
    height: fit-content;
    width: 100%;
    height: fit-content;
  }
  .overlay .overlaytext {
    padding-top: 4rem;
    padding-left: 15vw;
    color: white;
  }
  .overlay .overlaytext h1 {
    font-size: 55px !important;
  }
  .overlay .overlaytext h2 {
    font-size: 25px !important;
    font-style: italic;
    font-weight: 300;
  }
}
@media screen and (max-width: 765px) {
  .hero {
    height: 60vh;
  }
  .hero img {
    width: 100%;
    height: 45vh;
  }
  .topmenu {
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: space-between;
    width: 100%;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
  .menu li {
    font-size: 15px !important;
  }
  .priceoverlay {
    background: rgb(131, 58, 180);
    background: linear-gradient(180deg, rgba(131, 58, 180, 0) 0%, rgb(28, 12, 76) 100%);
    position: relative;
    top: -50px;
    z-index: 1;
    height: 50px;
  }
  .priceoverlay svg {
    position: absolute;
    top: -200px;
    left: 300px !important;
  }
}
@media screen and (max-width: 575px) {
  .itemcard {
    margin-left: 1em;
    margin-right: 1em;
  }
  .contact {
    display: none;
  }
  .shoppingcart {
    display: none;
  }
  .search {
    width: 100%;
  }
  .search form {
    width: 100%;
  }
  .search form input {
    width: 100%;
  }
  .priceoverlay {
    background: rgb(131, 58, 180);
    background: linear-gradient(180deg, rgba(131, 58, 180, 0) 0%, rgb(28, 12, 76) 100%);
    position: relative;
    top: -50px;
    z-index: 1;
    height: 50px;
  }
  .priceoverlay svg {
    position: absolute;
    top: -200px;
    left: 220px !important;
  }
}
@media screen and (max-width: 400px) {
  .itemcard {
    margin-left: 0em;
    margin-right: 0em;
  }
  .introtext h2 {
    color: black;
    font-size: 17px;
  }
  .introtext p {
    color: black;
    font-size: 12px;
  }
  .bannertext {
    padding: 3em;
  }
  .bannertext h2 {
    font-size: 17px !important;
  }
  .bannertext p {
    font-size: 12px !important;
  }
  .priceoverlay {
    background: rgb(131, 58, 180);
    background: linear-gradient(180deg, rgba(131, 58, 180, 0) 0%, rgb(28, 12, 76) 100%);
    position: relative;
    top: -50px;
    z-index: 1;
    height: 50px;
  }
  .priceoverlay svg {
    position: absolute;
    top: -200px;
    left: 150px !important;
  }
}

/*# sourceMappingURL=main.css.map */
