body {
  background-color: white;
  max-width: 100vw;
}

h2 {
  font-size: 35px;
}

header .container-fluid {
  height: 156px;
}
header p {
  color: #3B89B2;
}

footer .footerlogo svg {
  width: 100%;
}
footer .footeritems {
  display: flex;
  flex-direction: column;
}

.logo {
  padding-top: 36px;
  padding-left: 96px;
}
.logo svg {
  width: 200px;
}

.topmenu {
  display: flex;
  flex-direction: row;
  height: 40px;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.search {
  display: flex;
}
.search form {
  height: 40px;
  margin-top: 1em;
}
.search button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  padding: 0%;
  position: relative;
  left: -40px;
  top: -3px;
}
.search input {
  border: #5FD2E6 solid 1px;
  border-radius: 15px;
  padding: 5px 15px 5px 15px;
  height: 40px;
  width: 320px;
}
.search input::placeholder {
  color: #3B89B2;
}

.contact {
  display: flex;
  margin-top: 2em;
  margin-right: 2em;
  height: auto;
  align-items: center;
  justify-content: center;
}
.contact p {
  margin: 0px;
  padding-right: 10px;
}
.shoppingcart {
  display: flex;
  background-color: #3B89B2;
  height: 60px;
  width: 164px;
  border-bottom-left-radius: 30px;
}
.shoppingcart svg {
  margin-left: 2em;
  margin-top: 10px;
}

.menu {
  display: flex;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 1.5em;
}
.menu ul li {
  padding-left: 2em;
  padding-right: 3em;
  list-style-type: none;
  font-size: 20px;
}
.menu ul li a {
  color: black;
  text-decoration: none;
}

.hero {
  height: 60vh;
}
.hero img {
  width: 100%;
}
.hero #opacitysvg {
  opacity: 0.9;
}
.hero svg {
  position: relative;
  top: -80px;
}
.hero .overlay {
  position: absolute;
  height: fit-content;
  width: 100%;
}
.hero .overlay .overlaytext {
  padding-top: 10em;
  padding-left: 5em;
  color: white;
}
.hero .overlay .overlaytext h1 {
  font-size: 75px;
}
.hero .overlay .overlaytext h2 {
  font-size: 35px;
}
.hero .imagecontainer {
  height: fit-content;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

.introtext h2 {
  color: black;
}
.introtext p {
  color: black;
}

.itemcard {
  border-radius: 0 0 30px 0;
  margin-top: 2em;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1647058824);
  margin-bottom: 2em;
}
.itemcard .priceoverlay {
  background: rgb(131, 58, 180);
  background: linear-gradient(180deg, rgba(131, 58, 180, 0) 0%, rgb(28, 12, 76) 100%);
  position: relative;
  top: -50px;
  z-index: 1;
  height: 50px;
}
.itemcard .productdesc {
  padding: 0em 2em 0em 2em;
}
.itemcard .productdesc h4 {
  font-size: 19px;
  font-weight: lighter;
  color: #1D0D4C;
}
.itemcard .productdesc p {
  font-size: 15px;
}
.itemcard .item {
  width: auto;
  position: relative;
}
.itemcard img {
  height: 235px;
  width: 100%;
  display: block;
}
.itemcard .price {
  top: 0px;
  color: white;
  padding-left: 1em;
}
.itemcard .price #pricesvg {
  opacity: 0.2;
}
.itemcard .itembutton {
  display: flex;
  justify-content: flex-end;
}
.itemcard .itembutton button {
  border: none;
  background-color: #1C0C4C;
  padding: 0.65em 1em;
  border-radius: 30px 0px;
  color: white;
  margin-left: auto;
}

.bannerimg {
  margin-top: 5em;
  margin-bottom: 5em;
}
.bannerimg img {
  width: 100%;
  object-fit: cover;
  height: 421px;
  border-radius: 0 0 30px 0;
}

.banneruitgelicht {
  width: 750px;
  height: 277px;
  background-color: rgba(180, 244, 248, 0.9176470588);
  border-radius: 30px 0px;
  position: relative;
  left: -200px;
  top: 150px;
}
.banneruitgelicht .bannertext {
  padding: 3em;
}
.banneruitgelicht .bannertext h2 {
  font-weight: bold;
}
.banneruitgelicht .bannertext p {
  font-weight: lighter;
  font-size: 19px;
}
.banneruitgelicht .bannertext button {
  background: none;
  border: none;
}

/*# sourceMappingURL=main.css.map */
